Nomor 6 - Adrian Dwi Adinata

a) Import library “seaborn”. Lalu, load data yang bernama “MPG”!

In [1]:
# Import seaborn dan load data 'MPG'

import seaborn as sns
mpg = sns.load_dataset('mpg')

In [3]:
# Import numpy dan pandas

import numpy as np
import pandas as pd

b) Tampilkan 5 data teratas pada DataFrame dari data “MPG”!

In [4]:
# Membuat dataset

df = pd.DataFrame(mpg)

In [5]:
# Menampilkan 5 data teratas

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

c) Tampilkan statistik deskriptif atau Describe data selain data 
numerik!

In [9]:
# Lakukan Describe Data selain Data Numerik

df.describe(include=object)

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [ ]:
# Cara lain
# describe selain data numerik
mpg.describe(exclude = 'number')

d) Tampilkan seluruh nama kolom pada DataFrame!

In [8]:
# Tampilkan Nama Kolom DataFrame

df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

e) Hitung Jumlah Missing Value (data kosong) di setiap kolomnya!

In [10]:
# Hitung Missing Value Setiap Kolom

df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64