Nomor 8 - Adrian Dwi Adinata

a) Import library “seaborn”, lalu load data yang bernama “MPG”!

b) Lakukan grouping atau pengelompokan berdasarkan kolom ‘origin’! 
Tampilkan rata-rata dari ‘horsepower’ di setiap kelompok origin-nya!

In [1]:
# Import Seaborn dan Load Data 'MPG'

import seaborn as sns
mpg = sns.load_dataset('mpg')

In [2]:
# Import pustaka numpy dan pandas

import numpy as np
import pandas as pd

In [3]:
# Membuat dataframe

df = pd.DataFrame(mpg)

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
group_origin = df.groupby('origin')

In [6]:
group_origin

In [7]:
group_origin['horsepower'].sum()

origin
europe     5478.0
japan      6307.0
usa       29167.0
Name: horsepower, dtype: float64

In [8]:
# Horse Power Berdasarkan Origin

group_origin['horsepower'].mean()

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64

In [ ]:
# Cara Lain

# horse power berdasarkan origin
mpg.groupby('origin').mean()['horsepower']