Nomor 9 - Adrian Dwi Adinata

a) Import library “seaborn”, lalu load data yang bernama “MPG”!

In [1]:
# Import Seaborn dan load data 'MPG'

import seaborn as sns
mpg = sns.load_dataset('mpg')

In [2]:
# Import pustaka numpy dan pandas

import numpy as np
import pandas as pd

In [3]:
# Membuat dataframe

df = pd.DataFrame(mpg)

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

b) Buatlah sebuah kolom baru yang bernama ‘horse_origin’!

c) Kolom ‘horse_origin’ ini harus diisi menggunakan fungsi berisikan:

❑ Jika nilai ‘horsepower’ < 105, tampilkan ‘lower’ + ‘nama origin’ 
pada baris yang sama. Contohnya ‘lower USA’. 

❑ Jika nilai ‘horsepower’ >= 105, tampilkan ‘upper’ + ‘nama origin

In [5]:
# buat function

def add_horse_origin(x):
    if x['horsepower'] <= 105:
        return 'lower {}'.format(x['origin'])
    else:
        return 'upper {}'.format(x['origin'])

In [6]:
# membuat kolom baru menggunakan function
mpg['horse_origin'] = mpg[['horsepower', 'origin']].apply(add_horse_origin, axis = 1)
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa