Nomor 7 - Adrian Dwi Adinata

a) Import library “seaborn”, lalu load data yang bernama “MPG”!

In [1]:
# Import Seaborn dan Load Data 'MPG'

import seaborn as sns
mpg = sns.load_dataset('mpg')

In [2]:
# Import pustaka numpy dan pandas

import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(mpg)

b) Tampilkan Missing value (data kosong) pada kolom ‘horsepower’!

In [4]:
# Menamilkan Data Missing Value

df[df["horsepower"].isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

c) Tampilkan index lokasi missing value tersebut!

In [5]:
# Menampilkan Index Pada Missing Values

df[df["horsepower"].isna()].index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')